.Socials {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    display: block;
    margin-bottom: 2rem;
}
.Socials.a {
    margin-bottom: 2rem;
    background-color: white;
    -webkit-text-decoration-skip: objects
}
